* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.mr-auto {
  float: right;
  margin-left: 30em;
}

.jumbotron {
  padding: 6rem 1rem;
  margin-top:  4em;
  margin-bottom: 2rem;
  background-color: #e9ecef;
}  

.bg-dark {
  padding: 1em 4em 1em 6em;
}

h3 {
  padding:1.5rem 0 0 1rem;
  font-size: 2rem;
  color: blue;
}

.central-block{
  padding-left: 4em;
  padding-right: 4em;
}

h5 {
  font-size: 1.3rem;
  color: white;
}

p {
  font-size: 1rem;
  padding: 1rem;
}

.final {
  text-align: center;
}

button {
  background: #0877df;
  font-size: 1.2rem;
  color: white;
  border: none;
  border-radius: 0.2rem;
  padding: 0.8rem ;
  margin-left: 1rem;
}

.aside {
  margin-top: 0.4rem;
  display: inline-block;
  border: #0877df 1px solid;
  border-radius: 5%;
  width: 100%;
  margin-left: 1.5em;
}

.faveShow {
  width: 100%;
  height: 40%;
  margin-top: 3rem;
}

footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #222;
}


    
.view-movile {
  display: block;
}


.view-desktop {
  display: none;
}

@media (min-width: 1200px) {

section {
  margin: 0 5rem;
}
}
@media (min-width: 768px) {
.col-xs-8 {
width: 66.66666667%;
display: inline-block;
}

.col-xs-3 {
width: 25%;
display: inline-block;
}

.col-xs-4 {
width: 32.6000000%;
display: inline-block;
}

}

.view-desktop {
display: block;
}
}
